<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
      {% block header %}
      <span>
        {% if context.user == None %}
        <form action="/" method="post">
          <label for="email">email: </label>
          <input id="email" name="email" type="email" />
          <label for="password">password: </label>
          <input id="password" name="password" type="text" />
          <input class="button" type="submit" value="로그인" />
        </form>
        {% else %}
        <a href="#">{{ context.user.name }}</a><a class="button" href="/logout">로그아웃</a>
        <span>{{ context.name }}</span>
        {% endif %}
      </span>
      {% endblock %}
      <div class="container">
        {% block navbar %}
        <div class="nav">
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
        </div>

        {% endblock %}         
        <div class="content">
        {% block content %}
        <table class="table">
          <thead>
            <tr class="row">
              <td class="article-td">날짜</td>
              <td class="article-title article-td">제목</td>
              <td class="article-td">작성자</td>
            </tr>
          </thead>
          <tbody>
            {% for article in context.articles %}
            <tr class="row">
              <td class="article-td">{{ article.created_at }}</td>
              <td class="article-td article-table-body">
                <a class="article-title" href="article/{{ article.id }}">{{ article.title }}</a>
              </td class="article-td">
              <td class="article-td">{{ article.name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if context.user != None %}
        <div>
          <a class="button" href="/article_create"> 글쓰기 </a>
        </div>
        {% endif %} {% endblock %}
        </div>
      </div>

      {% block footer %}
      <footer>this is footer</footer>
      {% endblock %}
  </body>
</html>
