<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% block header %}
      <div>this is header</div>
      {% endblock %}
      <div class="container">
        {% block navbar %}
        <div class="nav">
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
        </div>
        {% endblock %} {% block content %}

        <form action="login" method="post">
          <label for="email">login email: </label>
          <input required id="email" type="email" />
          <label for="password">password: </label>
          <input required id="password" name="password" type="password" />
          <input type="submit" value="Login" />
        </form>

        {% endblock %}
      </div>

      {% block footer %}
      <footer>this is footer</footer>
      {% endblock %}
    </div>
  </body>
</html>
