<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% block header %}
      <span>
        {% if context.user == None %}
        <form action="/" method="post">
          <label for="email">email: </label>
          <input id="email" name="email" type="email" />
          <label for="password">password: </label>
          <input id="password" name="password" type="text" />
          <input type="submit" value="로그인" />
        </form>
        {% else %}
        <a href="#">{{ context.user.name }}</a><a href="logout">로그아웃</a>
        <span>{{ context.name }}</span>
        {% endif %}
      </span>
      {% endblock %}
      <div class="container">
        {% block navbar %}
        <div class="nav">
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
          <span class="nav-item">items</span>
        </div>
        {% endblock %} {% block content %} {% for article in context.articles %}

        <div>
          <ul>
            <a href="#">
              <li>
                {{ article.created_at }} | {{ article.title }} | {{ article.name
                }}
              </li>
            </a>
          </ul>
        </div>

        {% endfor %} {% if context.user != None %}
        <div>
          <a href="/article_create"> 글쓰기 </a>
        </div>
        {% endif %} {% endblock %}
      </div>

      {% block footer %}
      <footer>this is footer</footer>
      {% endblock %}
    </div>
  </body>
</html>
